:root{
    --primario: #438faf;
    --secundario: #388f8f;
    --blanco: #ffffff;
    --gris: #333;
    --negro: #000000;
}
html{
    box-sizing: border-box;
    font-size: 10px;

}
h2{
    color:var(--gris);
}
