
.contenedor_img {
    position: relative;
    width: 100%;
    height: 100%;
}

.contenedor_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.titulo_background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blanco);
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.background_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.resumen{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 2rem;
    border:  solid ;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    line-height: 1.5;
}
.resumen p, h2{
    font-family: sans-serif;
}
.resumen h2{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.resumen p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

footer, p {
    font-family: sans-serif;
    font-size: 1rem; /* Tamaño de fuente ajustado para móviles */
}
.footer{
    width: 100vw;
    border: 1px solid #333;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    body{
        width: 100vw;
        margin: 0;
    }
    .nav-content {
        width: 100%;
    }
    .resumen{
        background-color: var(--primario);
        border-radius: 0;
        margin: 0;
        left: 0;
        padding: 3rem;

    }
    .resumen>h2 {
        font-size: 3rem;
    }
}

