@import url('global.css');
.content {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #e6e7e8;
    font-family: 'Arial', sans-serif;
    color: #333;
    height: 100vh;
}

h1 {
    font-size: 2.8rem;
    color: #0056b3;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin: auto;
    margin-bottom: 1rem;
    width: 90%;
}

a {
    color: #0056b3;
    text-decoration: none;
}

