@import url('global.css');

body {
    background-color: #f8f9fa;
    width: 100vw;
    margin: 0;
}
.header{
    background: #f8f9fa;
}

.contenido {
    padding: 2rem;
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 900px;
}

.galeria-item1, .galeria-item2 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #e0e0e0;
}

.galeria-item1:hover, .galeria-item2:hover {
    transform: scale(1.05);
}

.galeria-imagen {
    width: 10rem;
    height: auto;
    display: block;
    border-radius: 8px 0 0 8px;
}

.galeria_texto {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}

.galeria-titulo {
    font-size: 1.95rem;
    margin: 0;
    color: #333;
}

.galeria-descripcion {
    font-size: 1.50rem;
    color: #666;
    margin: 0.5rem 0;
}

.galeria-descripcion a {
    font-size: 1.25rem;
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.galeria-descripcion a:hover {
    color: #0056b3;
}
@media screen and (max-width: 600px) {
    .galeria {
        gap: 1rem;
    }

    .galeria-item1, .galeria-item2 {
        flex-direction: column;
        gap: 5px;
    }

    .galeria-imagen {
        width: 55%;
        border-radius: 8px;
        margin-top: 5px;

    }

    .galeria_texto {
        padding: 1rem;
    }
    .footer{
        width: 100%;
        margin: 0;
    }
    .content{
        width: 95%;
        min-width: 370px;
    }
    .galeria-descripcion > a{
        font-size: 1.5rem;
        text-decoration: none;
        onclick: none;
    }
}