{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/materiales.css' %}">
    <main class="contenido">
        <div class="galeria">
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/sp23.jpg' %}" alt="Imagen 4" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/motor paso  a paso.jpg' %}" alt="Imagen 6" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/sensor.jpg' %}" alt="Imagen 7" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/servo1.jpg' %}" alt="Imagen 8" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/servo2.jpg' %}" alt="Imagen 9" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/servo3.jpg' %}" alt="Imagen 10" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Título 4</h3>
                    <p class="galeria-descripcion">Descripción de la imagen 4.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
