    <head>
        <title>Materiales</title>
        </head>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/materiales.css' %}">
    <main class="contenido">
        <div class="galeria">
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/sp23.jpg' %}" alt="Imagen 4" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">ESP32-CAM</h3>
                    <p class="galeria-descripcion">
                         <a href="https://media.digikey.com/pdf/Data%20Sheets/DFRobot%20PDFs/DFR0602_Web.pdf" target="_blank">Información del ESP32-CAM</a>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/motor paso  a paso.jpg' %}" alt="Imagen 6" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Motor Paso a Paso</h3>
                    <p class="galeria-descripcion">
                    <a href="https://www.cwsteppermotor.com/product/nema1742bhh-series-hybrid-stepper-motor?gad_source=1&gbraid=0AAAAA9rs-ky3OILR4GergeJrVtRnYdCB_&gclid=EAIaIQobChMIz5fU79S2hwMVx6paBR2tkArxEAAYASAAEgI_qvD_BwE" target="_blank">Información del Motor paso a paso</a>
                </div>
            </div>
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/sensor.jpg' %}" alt="Imagen 7" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Sensor de Peso 5kg + Módulo HX711</h3>
                    <p class="galeria-descripcion"></p>
                    <a href="https://avelectronics.cc/producto/sensor-de-peso-5kg/" target="_blank">Información del Sensor de peso 5kg</a>
                    <a href="https://html.alldatasheet.es/html-pdf/1132222/AVIA/HX711/109/1/HX711.html" target="_blank">Información del Módulo HX711</a>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/servo1.jpg' %}" alt="Imagen 8" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Servomotor spt5435 35kg</h3>
                    <p class="galeria-descripcion">
                    <a href="http://www.spt-servo.com/Product/3918565933.html" target="_blank">Información del Servomotor spt5435 35kg</a>
                </div>
            </div>
            <div class="galeria-item1">
                <img src="{% static 'imagenes/Materiales/servo2.jpg' %}" alt="Imagen 9" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Servomotor Ds3230 30kg</h3>
                    <p class="galeria-descripcion">
                    <a href="https://github.com/microrobotics/DS3235-270/blob/master/DS3235-270_datasheet.pdf" target="_blank">Información del Servomotor Ds3230 30kg</a>
                </div>
            </div>
            <div class="galeria-item2">
                <img src="{% static 'imagenes/Materiales/servo3.jpg' %}" alt="Imagen 10" class="galeria-imagen">
                <div class="galeria_texto">
                    <h3 class="galeria-titulo">Servomotor MG90S</h3>
                    <p class="galeria-descripcion">
                    <a href="https://www.electronicoscaldas.com/datasheet/MG90S_Tower-Pro.pdf" target="_blank">Información del Servomotor MG90S</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
